
@{
    ViewBag.Title = "DeadlineVerification";
    Layout = "~/Views/Shared/_LayoutAdvyTeam.cshtml";
}

<h2>DeadlineVerification</h2>

<p class="alert alert-info">The job Name is:  @ViewData["jobname"] And @ViewData["DeadlineInfo"] </p>
